%h1  Discussions

%div#settings{:align => "right"}
  =link_to 'Settings', discussions_path #this is a placeholder path for now

%table#discussions
  %thead
    %tr
      %th Discussion 
      %th Text
      %th
  %tbody
    - @discussions.each do |discussion|
      =render 'show.html.haml' , :discussion=>discussion
= link_to 'Add A New Discussion', new_discussion_path
