%h1  Discussions

%table#discussions.table.table-striped
  %thead
    %tr
      %th Discussion 
      %th Text
      %th
  %tbody
    - @discussions.each do |discussion|
      =render 'show.html.haml' , :discussion=>discussion
= link_to 'Add A New Discussion', new_discussion_path
