%h1 Problems for #{@topic.name}

- @problems.each do |problem|
  = render 'problems/problem', :prob => problem

.row
  =link_to 'Create New Problem', new_problem_path(:id => @topic.id)

.row
  = link_to 'Go Back', course_topics_path(:id => @topic.course.id)
